doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width')
    link(href=root + 'styleguide_assets/css/highlight/okadia.css', rel='stylesheet')
    link(href=root + 'styleguide_assets/css/theme.css', rel='stylesheet')
    link(href=root + 'css/style.css', rel='stylesheet')
    script(src=root + 'styleguide_assets/js/drawer.js')
    script(src=root + 'styleguide_assets/js/setting-menu.js')
    script(src=root + 'styleguide_assets/js/codeblocks-expander.js')
    script(src=root + 'styleguide_assets/js/preview-bg-color-changer.js')
    if title === 'all'
      include ./lunr-script
  body
    header.aigis-global-header
      div.aigis-global-header__heading
        a.aigis-global-header__title(href=root + 'index.html') #{config.name}
        .aigis-global-header__time Last update at #{timestamp}
      div.aigis-global-header__menu
        button.aigis-global-header__toggler(type="button", id="aigis-drawer-toggler")
          .aigis-icon-hamburger.aigis-icon-hamburger--htx(id="aigis-drawer-toggler-icon")
            span toggle menu
      div.aigis-global-header__setting-menu
        button.aigis-global-header__setting-toggler(type="button", id="aigis-setting-menu-toggler")
          span.aigis-icon-cog(id="aigis-setting-menu-icon")
            include ../styleguide_assets/img/cog.svg
        .aigis-setting-menu(id="aigis-setting-menu")
          .aigis-setting-menu__inner
            .aigis-setting-menu__item
              .aigis-setting-menu__key.is-disabled(id="aigis-preview-bg-color")
                label(for="aigis-preview-bg-color-enabler")
                  span プレビューエリアの色を変更します。
                input(type="color", id="aigis-preview-bg-color-changer", disabled)
              .aigis-setting-menu__value
                input(type="checkbox", id="aigis-preview-bg-color-enabler")
            label.aigis-setting-menu__item
              .aigis-setting-menu__key コードブロックを表示します
              .aigis-setting-menu__value
                input(type="checkbox", id="aigis-codeblocks-expander")
    include ./sidemenu
    .aigis-container
      .aigis-contents
        .aigis-contents__body
          include ./components
